//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here
.prototype-index-card {
  background-color: #d9f0ff; 
  padding: 20px 30px 10px 30px; 
  margin-bottom: 30px;
  code {
      padding: 0 5px;
      color: #d13118;
      background-color: #fff;
  }
}

.govuk-header__link .govuk-header__logotype{
    height: 30px;
}

.govuk-header__link:focus .govuk-header__logotype{
    content: url(/public/images/department-for-education_black.png);
    height: 30px;
}

// MoJ sub-navigation component (minimal styles when MoJ Frontend not installed)
.moj-sub-navigation {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: 1px solid #b1b4b6;
}

.moj-sub-navigation__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1.5rem;
}

.moj-sub-navigation__item {
  margin-bottom: 0;
}

.moj-sub-navigation__link {
  display: block;
  padding: 1rem 0;
  text-decoration: none;
  font-weight: 400;
  border-bottom: 3px solid transparent;
  color: #1d70b8;

  &:hover {
    text-decoration: underline;
  }

  &:focus {
    outline: 3px solid #fd0;
    outline-offset: 0;
  }
}

.moj-sub-navigation__item--active .moj-sub-navigation__link {
  font-weight: 700;
  border-bottom-color: #1d70b8;
  color: #1d70b8;
}

// HMRC timeline component (https://design.tax.service.gov.uk/hmrc-design-patterns/timeline/)
.hmrc-timeline {
  list-style: none;
  margin: 0;
  padding: 0 0 0 20px;
  border-left: 3px solid #1d70b8;
}

.hmrc-timeline__event {
  position: relative;
  padding-bottom: 2rem;

  &::before {
    content: "";
    position: absolute;
    left: -23px;
    top: 0.4em;
    width: 12px;
    height: 3px;
    background: #1d70b8;
  }

  &:last-child {
    padding-bottom: 0;
  }
}

.hmrc-timeline__event-title {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 0 0 0.25rem 0;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.hmrc-timeline__event-meta {
  font-size: 1rem;
  color: #505a5f;
  margin-bottom: 0.5rem;
  display: block;
}

.hmrc-timeline__event-content {
  margin-top: 0.5rem;

  .govuk-body {
    margin-bottom: 0;
  }
}

// MoJ filter component (https://design-patterns.service.justice.gov.uk/components/filter)
.moj-filter {
  background: #fff;
  border: 1px solid #b1b4b6;
}

.moj-filter__header {
  background: #505a5f;
  padding: 1rem 1.25rem;

  .govuk-heading-m {
    margin: 0;
    color: #fff;
    font-weight: 700;
  }
}

.moj-filter__content {
  padding: 1.25rem;
}

.moj-filter__selected {
  margin-bottom: 1.5rem;
}

.moj-filter__options {
  .govuk-form-group {
    margin-bottom: 0;
  }

  .govuk-button {
    margin-bottom: 0;
  }
}

// Unbranded layout (Parentkind-style) – only applies when body has .unbranded-body
.unbranded-header {
  background-color: #682463;
  padding: 2.4rem 0;
}

.unbranded-header__container {
  display: flex;
  align-items: center;
}

.unbranded-header__logo {
  display: inline-block;
  line-height: 0;

  &:hover {
    opacity: 0.9;
  }

  &:focus {
    outline: 3px solid #fd0;
    outline-offset: 2px;
  }

  svg {
    height: 100%;
    width: 100%;
  }
}

.unbranded-body {
  background-color: #f5f4ea;

  .govuk-body,
  .govuk-hint,
  .govuk-button,
  .govuk-link,
  .govuk-radios__label,
  .govuk-checkboxes__label,
  .govuk-input {
    font-size: 1.5rem;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  // Parentkind purple headings and Varela Round – scoped to unbranded only
  .govuk-heading-xl,
  .govuk-heading-l,
  .govuk-heading-m,
  .govuk-heading-s,
  .govuk-fieldset__heading {
    color: #682463 !important;
    font-family: 'Varela Round', sans-serif !important;
  }

  .govuk-body,
  .govuk-label,
  .govuk-radios__label,
  .govuk-checkboxes__label,
  .govuk-input,
  .govuk-button,
  .govuk-link,
  .govuk-hint {
    font-family: 'Varela Round', sans-serif !important;
  }
}

.unbranded-button {
  background-color: #fdc420;
  border-radius: 50rem;
  padding: 1rem 1.5rem;
  color: #682463;

  &:link {
    color: #682463;
  }

  &:hover {
    background-color: #eeb000;
  }
}