{% extends "layouts/main.html" %}

{% set pageName="Parent home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Complain about a school in England</h1>

    <p class="govuk-body">If you are unable to resolve your complaint by talking to the school, it may be eligible for referral to another organisation in the education system for further review.</p>
    <p class="govuk-body">This may include your local authority, the Department for Education, Ofsted, or the Teaching Regulation Authority.</p>
    <p class="govuk-body">If you continue, you will be asked to complete a form capturing the details of your complaint.</p>

    <h2 class="govuk-heading-l">Speak to the school first</h2>
    <p class="govuk-body">Your complaint cannot be considered unless you have completed the school's complaint process.</p>
    <p class="govuk-body">As a first step, discuss your concerns with the school. This is often the quickest and simplest way to resolve an issue.</p>
    <p class="govuk-body">Unless someone is in danger, you must try to resolve your complaint with the school before any other organisation can get involved.</p>

    <h2 class="govuk-heading-l">Contact the police if anyone is in danger</h2>
    <p class="govuk-body">Call the police if a child or adult is in danger, or you believe a crime has been committed.</p>
    <p class="govuk-body">Call 999 in an emergency, or call Crimestoppers on 0800 555 111 to report something anonymously.</p>

    <h2 class="govuk-heading-l">What happens next</h2>
    <p class="govuk-body">After completing this form, your complaint will be reviewed to understand whether it should be escalated beyond the school.</p>
    <p class="govuk-body">We will get in touch to share the outcome of this review, and advise on next steps.</p>
    <p class="govuk-body">Note that in most cases another organisation cannot overturn decisions made by a school's governing body, force the school to apologise, or discipline any pupils or staff.</p>
    <p class="govuk-body">If your complaint is eligible for referral, the details you've submitted will be shared with the relevant organisation(s).</p>

    <h2 class="govuk-heading-l">Before you begin</h2>
    <p class="govuk-body">You will need to provide evidence relating to your complaint. This may include:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>Information about the nature of the complaint, and why you would like to escalate it.</li>
      <li>Copies of any correspondence, such as emails or letters.</li>
      <li>Evidence that you have completed the school's local process, such as the dates of meetings and decisions.</li>
    </ul>
    <p class="govuk-body">You cannot submit video recordings as evidence.</p>

    <a href="parent-process-placeholder.html" class="govuk-button" data-module="govuk-button">Start complaint escalation form <span aria-hidden="true">&gt;</span></a>
  </div>
</div>

{% endblock %}
