{% extends "layouts/main.html" %}

{% set pageName="Parent confirmation" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
              Complaint received
            </h1>
            <div class="govuk-panel__body">
              Your reference number<br><strong>123456789</strong>
            </div>
          </div>
          <p class="govuk-body">We have sent a confirmation email to you at [email address].</p>
          <h2 class="govuk-heading-m">Under review</h2>
          <p class="govuk-body">
            Complaint handlers will now review your complaint to check if it meets the criteria for esclation. 
          </p>
          <p class="govuk-body">
            If the complaint can be considered, it will be forwarded to the relevant organisation for further consideration.  
          </p>
          <p class="govuk-body">
            We will contact you to let you know what happens next.
          </p>
          <h2 class="govuk-heading-m">You should hear from us soon</h2>
          <p class="govuk-body">
            A decision about what happens next with your complaint will be made soon.
          </p>
          <h2 class="govuk-heading-m">The dashboard</h2>
          <p class="govuk-body">
            You can view the status of your complaint on <a href="parent-dashboard.html" class="govuk-link">the dashboard</a>.
          </p>
        </div>
      </div>
    </main>
  </div>

</div>

{% endblock %}
