{% extends "layouts/main.html" %}

{% set pageName="Parent home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Complain about a school in England</h1>

    <p class="govuk-body">Use this form to submit a formal complaint about your child’s school.</p>
    <p class="govuk-body">Each school should have a complaint procedure you can follow which is available on their website, or on request. This will include details specific to each school.</p>

    <h2 class="govuk-heading-l">Speak to the school first</h2>
    <p class="govuk-body">Often issues are best resolved by a child's teacher, or school leadership.</p>
    <p class="govuk-body">Parents and schools share the same goal: supporting children's education, but sometimes questions or concerns arise.</p>
    <p class="govuk-body">In most cases, you should try to discuss your concern before raising a formal complaint.</p>

    <p>See <a class="govuk-link" href="https://www.parentkind.org.uk/assets/parents-resources/Parent-Guide-to-School-Complaints.pdf"> Parentkind's checklist</a> to help parents quickly, easily, and positively resolve concerns with their child’s school.</p>

    <h2 class="govuk-heading-l">Contact the police if anyone is in danger</h2>
    <p class="govuk-body">Call the police if a child or adult is in danger, or you believe a crime has been committed.</p>
    <p class="govuk-body">Call 999 in an emergency, or call Crimestoppers on 0800 555 111 to report something anonymously.</p>

    <a href="parent-dfe-sign-in.html" class="govuk-button" data-module="govuk-button">Start complaint escalation form</a>
  </div>
</div>

{% endblock %}
