{% extends "layouts/main.html" %}

{% set pageName="Parent confirmation" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
        Complaint received
      </h1>
      <div class="govuk-panel__body">
        Your reference number<br><strong>123456789</strong>
      </div>
    </div>
    <h2 class="govuk-heading-m">Under review</h2>
    <p class="govuk-body">Your complaint has been submitted to Bradford Academy.</p>
    <p class="govuk-body">
      They will consider everything you’ve submitted. and consider next steps. 
    </p>
    <p class="govuk-body">
      They will contact you to let you know what happens next, or if they need any more information  
    </p>
    <h2 class="govuk-heading-m">You should hear from us soon</h2>
    <p class="govuk-body">
      Complaints will be considered and resolved as quickly as possible. 
    </p>
    <p class="govuk-body">
      Refer to the school’s complaints policy to understand when to expect a response. 
    </p>
    <p class="govuk-body">
      You can view the status of your complaint on <a href="parent-dashboard-user-1.html" class="govuk-link">the dashboard</a>.
    </p>
  </div>
</div>

{% endblock %}
