{% extends "layouts/unbranded.html" %}

{% set pageName="Parent home" %}
{% set bodyClasses="unbranded-body" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Contact Citizen's Advice about education in Scotland</h1>

    <p class="govuk-body">They will be able to help guide you through your options and <a href="https://www.citizensadvice.org.uk/education/complaints-about-schools/">how to complain about a school in Scotland.</a></p>
    
  </div>
</div>

{% endblock %}
