{% extends "layouts/unbranded.html" %}

{% set pageName="Contact the Department for Education" %}
{% set bodyClasses="unbranded-body" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Contact the Department for Education</h1>

    <p class="govuk-body">DfE will consider your complaint.</p>
    <p class="govuk-body">You can <a href="#" class="govuk-link">submit a complaint to DfE</a> through their help portal.</p>
    <p class="govuk-body">Use this service to complain about a local authority maintained school or an academy school if:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li class="govuk-body">you're not happy with the way the school handled your complaint</li>
      <li class="govuk-body">the school is stopping you from completing their complaints procedure</li>
      <li class="govuk-body">a child is not getting an education</li>
      <li class="govuk-body">a child has been exposed to harm</li>
    </ul>
    <p class="govuk-body">DfE may use the information you provide to recommend improvements to school policies.</p>
    <p class="govuk-body">DfE must refer your complaint to other appropriate organisations if it raises concerns about the safety or wellbeing of a child.</p>

    <h2 class="govuk-heading-l">What DfE cannot help with</h2>
    <p class="govuk-body">The DfE cannot normally change the school's decision on a specific issue. Their focus is on whether the school has an effective complaints management process.</p>
  </div>
</div>

{% endblock %}
