{% extends "layouts/unbranded.html" %}

{% set pageName="Contact Ofsted" %}
{% set bodyClasses="unbranded-body" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Contact Ofsted</h1>

    <p class="govuk-body">You should <a href="#" class="govuk-link">contact Ofsted about your concerns</a>.</p>
    <p class="govuk-body">Ofsted will review your complaint and may discuss it with the school at the next scheduled inspection.</p>
    <p class="govuk-body">Ofsted must refer your complaint to other appropriate organisations if it raises concerns about the safety or wellbeing of a child.</p>

    <h2 class="govuk-heading-l">State schools only</h2>
    <p class="govuk-body">Ofsted can only accept complaints about state schools, academies and free schools (including residential schools).</p>

    <h2 class="govuk-heading-l">What Ofsted cannot help with</h2>
    <p class="govuk-body">Ofsted do not resolve disputes between parents and schools. They may keep your complaint on file for their next inspection, but don't always provide a response to those submitting a complaint.</p>
    <p class="govuk-body">Ofsted cannot:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li class="govuk-body">resolve disagreements between you and a school</li>
      <li class="govuk-body">affect the results of a school's complaints process</li>
      <li class="govuk-body">investigate private schools, sixth form or further education colleges</li>
      <li class="govuk-body">consider complaints about admissions, exclusions, special education needs, religious education or the religious character of a school</li>
    </ul>
  </div>
</div>

{% endblock %}
