{% extends "layouts/unbranded.html" %}

{% set pageName="Parent home" %}
{% set bodyClasses="unbranded-body" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Contact the private school</h1>

    <h2 class="govuk-heading-l">Make a complaint to the school</h2>
    <p class="govuk-body">Follow the school’s complaints procedure - every school in England must have one. It should be published on the school’s website.</p>
    <p class="govuk-body">It should tell you what kind of complaints the school will deal with, such as bullying or bad behaviour.</p>

    <h2 class="govuk-heading-l">Who to contact if a child is in danger</h2>
    <p class="govuk-body">Contact your local council or call your local police on 101 if you think a child is at risk.</p>
    <p class="govuk-body">Call 999 if a child is in immediate danger.</p>

    <h2 class="govuk-heading-l">When the DfE might be able to help</h2>
    
    <p class="govuk-body">The Department for Education (DfE) cannot investigate individual complaints about private schools.</p>

    <p class="govuk-body">But it has certain powers as a regulator if the school is not meeting standards set by DfE for:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li class="govuk-body">education</li>
      <li class="govuk-body">pupil welfare and health and safety</li>
      <li class="govuk-body">school premises</li>
      <li class="govuk-body">staff suitability</li>
      <li class="govuk-body">making information available to parents</li>
      <li class="govuk-body">spiritual, moral, social or cultural development of students</li>
    </ul>

    <p class="govuk-body">DfE will consider any reports of a major failure to meet the standards. It can arrange an emergency inspection to look at pupil welfare and health and safety, and make sure serious failings are dealt with.</p>

    <p class="govuk-body">DfE can ask the school inspectorates to take minor complaints into account when the school is next inspected.</p>
    
    <h2 class="govuk-heading-l">Complain to DfE about a private school</h2>
    <p class="govuk-body">You can complain to DfE about a private school if it is failing to meet the required standards.</p>
  </div>
</div>

{% endblock %}
