{% extends "layouts/unbranded.html" %}

{% set pageName="Contact the Teaching Regulation Authority" %}
{% set bodyClasses="unbranded-body" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Contact the Teaching Regulation Authority</h1>

    <p class="govuk-body">You should <a href="#" class="govuk-link">contact the Teaching Regulation Authority</a>.</p>

    <h2 class="govuk-heading-l">What counts as serious teacher misconduct</h2>
    <p class="govuk-body">You should only contact the Teaching Regulation Authority to report serious teacher misconduct.</p>
    <p class="govuk-body">Serious misconduct is any behaviour that could result in a teacher not being allowed to teach again.</p>
    <p class="govuk-body">This includes:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li class="govuk-body">sexual misconduct, including assault, abuse or harassment</li>
      <li class="govuk-body">violent behaviour</li>
      <li class="govuk-body">serious failure to protect the safety and wellbeing of pupils</li>
      <li class="govuk-body">alcohol or drug misuse</li>
      <li class="govuk-body">fraud or serious dishonesty</li>
      <li class="govuk-body">discrimination or harassment</li>
      <li class="govuk-body">promoting extreme political or religious views</li>
    </ul>
    <p class="govuk-body">You can also report a teacher who has resigned or been dismissed.</p>
  </div>
</div>

{% endblock %}
