{% extends "layouts/unbranded.html" %}

{% set pageName="Parent home" %}
{% set bodyClasses="unbranded-body" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Raise your concern with the school</h1>

    <p class="govuk-body">Contact the school to discuss the problem first - most problems can be solved this way.</p>

    <h2 class="govuk-heading-l">Raise a concern</h2>
    <p class="govuk-body">You can raise your concern with the school by making an informal complaint.</p>
    <p class="govuk-body">Speak to a teacher or the school's leadership.</p>
    <p class="govuk-body">The school will tell you when they will respond.</p>
    <p class="govuk-body">After they review your complaint, you'll be told the outcome.</p>

    <h3 class="govuk-heading-m">When to talk to a teacher</h3>
    <p class="govuk-body">Talk to the child's teacher if your concern is about something that happened in a lesson your child was in.</p>
    <p class="govuk-body">It is best to talk to the teacher about things like homework, pupil friendships and behaviour.</p>

    <h3 class="govuk-heading-m">When to talk to middle or senior school leadership</h3>
    <p class="govuk-body">Speak to the school's middle or senior leadership, like a departmental head, if the teacher is unable to resolve the problem, or the concern is about more than just one lesson.</p>
    <p class="govuk-body">You should speak to middle or senior leadership about bullying, additional support for your child or repeated behaviour issues.</p>

    <h3 class="govuk-heading-m">When to talk to the headteacher or principal</h3>
    <p class="govuk-body">Discuss your concern with the headteacher or principal if it is about a whole-school issue or if talking to teachers and middle leadership has not resolved the problem.</p>

    <h2 class="govuk-heading-l">Make a formal complaint</h2>
    <p class="govuk-body">If the problem is not resolved, follow the school's complaints procedure to make a formal complaint.</p>
    <p class="govuk-body">Every school in England must have a complaints procedure.</p>
    <p class="govuk-body">It's usually available on the school's website or from the school office and should tell you the kind of complaints the school deals with.</p>
  </div>
</div>

{% endblock %}
