{% extends "layouts/unbranded.html" %}

{% set pageName="Your SEN complaints options" %}
{% set bodyClasses="unbranded-body" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Your SEN complaints options</h1>

    <p class="govuk-body">If you have spoken to the SENCO at the school but been unable to resolve the situation, you have some options.</p>
    <p class="govuk-body">You can make a formal complaint to the school if you have not already, or contact your local council.</p>
    <p class="govuk-body">If your local council are unable to resolve the situation, you can then complain to DfE.</p>
  </div>
</div>

{% endblock %}
