{% extends "layouts/unbranded.html" %}

{% set pageName="You cannot complain retrospectively" %}
{% set bodyClasses="unbranded-body" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">You cannot complain retrospectively</h1>

    <p class="govuk-body">If the child is now in education in a different school, you cannot register a complaint about the issues with the SEN provision at a previous school.</p>
    <p class="govuk-body">If you have concerns about the SEN provision at their current school, you should speak to that school about it.</p>
  </div>
</div>

{% endblock %}
