{% extends "layouts/main.html" %}

{% set pageName="Complaint page" %}

{% block content %}
<a href="#" class="govuk-back-link" onclick="window.history.back(); return false;">Back</a>

<div class="govuk-grid-row govuk-!-margin-top-6">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">Complaint 123456789</h1>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Status</dt>
        <dd class="govuk-summary-list__value"><strong class="govuk-tag govuk-tag--blue" style="max-width: 300px;">Submitted to school</strong></dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Date complaint submitted</dt>
        <dd class="govuk-summary-list__value">37 July 2033</dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Assigned to</dt>
        <dd class="govuk-summary-list__value">Cuthbert Dibble</dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> assigned to</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Complainant</dt>
        <dd class="govuk-summary-list__value">Blerky Johnson</dd>
      </div>
    </dl>

    <nav class="moj-sub-navigation govuk-!-margin-bottom-9" aria-label="Sub navigation">
      <ul class="moj-sub-navigation__list">
        <li class="moj-sub-navigation__item moj-sub-navigation__item--active">
          <a class="moj-sub-navigation__link" href="#">Complaint timeline</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" href="school-complaint-page.html">Submitted complaint</a>
        </li>
      </ul>
    </nav>

    <h2 class="govuk-heading-l">Complaint timeline</h2>

    <ol class="hmrc-timeline">
      <li class="hmrc-timeline__event">
        <h3 class="hmrc-timeline__event-title govuk-heading-m">Board of governors meeting</h3>
        <time class="hmrc-timeline__event-meta govuk-body-s" datetime="2026-01-14T19:30">14 January 2026 at 7.30pm</time>
        <div class="hmrc-timeline__event-content">
          <p class="govuk-body">You could have something here that would let the complainant view or download the minutes of the meeting.</p>
        </div>
      </li>
      <li class="hmrc-timeline__event">
        <h3 class="hmrc-timeline__event-title govuk-heading-m">Formal complaint made to school</h3>
        <time class="hmrc-timeline__event-meta govuk-body-s" datetime="2025-04-29T11:00">29 April 2025 at 11am</time>
      </li>
      <li class="hmrc-timeline__event">
        <h3 class="hmrc-timeline__event-title govuk-heading-m">Headteacher discussion</h3>
        <time class="hmrc-timeline__event-meta govuk-body-s" datetime="2025-04-13T15:05">13 April 2025 at 3.05pm</time>
        <div class="hmrc-timeline__event-content">
          <p class="govuk-body">A summary of the discussion the complainant had with the head. Perhaps as part of the process the head's notes of the conversation would be shared with the complainant to review and check they agree on what was said before it is recorded in here.</p>
        </div>
      </li>
      <li class="hmrc-timeline__event">
        <h3 class="hmrc-timeline__event-title govuk-heading-m">Informal complaint made to school</h3>
        <time class="hmrc-timeline__event-meta govuk-body-s" datetime="2025-04-08T10:30">8 April 2025 at 10.30am</time>
      </li>
      <li class="hmrc-timeline__event">
        <h3 class="hmrc-timeline__event-title govuk-heading-m">Incident leading to complaint</h3>
        <time class="hmrc-timeline__event-meta govuk-body-s" datetime="2025-03-30T12:16">30 March 2025 at 12.16pm</time>
        <div class="hmrc-timeline__event-content">
          <p class="govuk-body">Some background context about the reason for the complaint. This would be pulled from the information entered by the complainant when they fill out the form.</p>
        </div>
      </li>
    </ol>
  </div>
</div>

{% endblock %}
